.landing__title{
  font-size: 10em;
  font-weight: bold;
  background: linear-gradient(to right, #1488cc, #2b32b2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.landing__feedback{
  color: #2b32b2;
}

.logo{
  font-size: 3em;
}

.survery__card{
  width: 45em;
}

body{
  background: linear-gradient(
    45deg,
    #e0eafc,
    #cfdef3
  );
  background-size: contain;
}

@media only screen and (max-width: 600px) {
  .landing__title{
    font-size: 5em;
  }


  .survery__card{
    width: 23em;
  }
}